body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FC9302; /* Cambia el color de fondo según lo necesites */
    color: #0b0a0a; /* Cambia el color del texto según lo necesites */
    padding: 10px 20px;
} 

header h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buscar input[type="text"] {
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.buscar button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.buscar button:hover {
    background-color: #45a049;
}

nav {
    background-color: #174969;
    padding: 5px ;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 15px;
    margin: 5px;
}

nav ul li {
    display: inline;
    margin:  60px;
    padding: 25px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav ul :hover{
    background-color: #0e445f;
    color: #010203;
}
section{
    background-color: #FFF9F0;
}

.oportunidades {
    text-align: center;
    padding: 50px 0;
}

.oportunidades h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

.cuadros {
    display: flex;
    justify-content: center;
}

.cuadro {
    margin: 0 10px;
    text-align: center;
    padding: 25px;
}

.cuadro img {
    width: 150px;
    height: 200px;
    object-fit: cover; /* Ajusta la imagen al tamaño del cuadro */
}

.cuadro p {
    margin: 10px 0;
}
.mas-vendido {
    text-align: center;
    padding: 50px 0;
}

.mas-vendido h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
footer {
    background-color: #032F40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-column {
    display: inline-block;
    width: 30%; 
    vertical-align: top; 
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin: 10px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}
    